{% extends "partials/layout.twig" %}

{% block title %}About{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>About</h1>
    <p class="important">
        Enim magna ad officia consequat duis. Velit magna adipisicing voluptate ipsum. Consequat labore et ex officia laboris. Minim velit ad laborum cupidatat eu amet reprehenderit irure tempor. Officia elit velit labore aliqua aute esse. Duis do consectetur laboris voluptate non deserunt dolor ad adipisicing.
    </p>
{% endblock %}