{% extends "partials/layout.twig" %}

{% block title %}Contact{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Contact</h1>
    <p class="important">
        Et esse sit aliquip nostrud mollit. Reprehenderit minim amet voluptate cillum officia mollit. Minim minim exercitation irure mollit veniam in aliquip ex culpa quis.
    </p>
{% endblock %}