{% extends "partials/layout.twig" %}

{% block title %}FAQs{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>FAQs</h1>
    <p class="important">
        Deserunt ad aute cillum dolore veniam. Commodo elit culpa dolor enim amet. Excepteur nulla veniam ad tempor irure pariatur incididunt amet nostrud. Amet fugiat irure incididunt pariatur cupidatat reprehenderit veniam ea consequat tempor mollit anim dolore. Elit voluptate laborum veniam laboris irure laboris nisi sint commodo eu. Ullamco amet adipisicing dolor ullamco sint culpa do ad eiusmod minim laboris ut mollit.
    </p>
{% endblock %}