{% extends "partials/layout.twig" %}

{% block title %}Features{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Features</h1>
    <p class="important">
        Veniam minim exercitation tempor excepteur nulla labore consectetur laboris. Commodo elit laboris tempor excepteur sint eu qui mollit incididunt quis duis sint anim. Dolore consectetur aute dolor laboris reprehenderit. Quis tempor commodo in ut cupidatat ex exercitation officia do laboris et laborum aliqua sunt.
    </p>
{% endblock %}