{% extends "partials/layout.twig" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Home</h1>
    <p class="important">
        Sunt tempor quis sint labore dolor. Cupidatat cupidatat anim magna labore qui qui reprehenderit mollit sit culpa sunt. Excepteur officia mollit nulla dolore deserunt excepteur dolor excepteur. Eiusmod labore ea ipsum mollit veniam deserunt quis laborum tempor veniam.
    </p>
{% endblock %}